This website has free EOD daily quotes for stocks around the world

URL = "https://stooq.com/db/h/"

<img src="good-source.png"/>

In [1]:
import requests
import time
from datetime import datetime
from traceback import format_exc
import subprocess

In [2]:
import shutil

In [3]:
import os.path
import os
import pandas as pd

## download quotes manually at https://stooq.com/db/h/

# does not work
# have to download it manually


ts_start = time.time()
URL = "https://stooq.com/db/d/?b=d_us_txt"
r = requests.get(URL)
open("d_us_txt.zip", "wb").write(r.content)
ts_stop = time.time()
print(f"d_us_txt.zip downloaded in {ts_stop-ts_start:.2f} sec")

## pre-process quotes.zip

In [4]:
yyyy_mm_dd = datetime.strftime(datetime.now(), '%Y-%m-%d')
zip_file = "d_us_txt.zip"
tmp = zip_file.split(".")

In [5]:
!cd

C:\gwgllc\stooq.com

In [6]:
os.path.join("downloads", zip_file), os.path.join("downloads", f"{tmp[0]}-{yyyy_mm_dd}.{tmp[-1]}")

('downloads\\d_us_txt.zip', 'downloads\\d_us_txt-2022-04-07.zip')

In [7]:
shutil.copyfile(os.path.join("downloads", zip_file), os.path.join("downloads", f"{tmp[0]}-{yyyy_mm_dd}.{tmp[-1]}"))

'downloads\\d_us_txt-2022-04-07.zip'

In [8]:
shutil.move(os.path.join("downloads", zip_file), zip_file)

'd_us_txt.zip'

In [9]:
zip_file

'd_us_txt.zip'

In [11]:
# run this notebook using git bash, otherwise, fails

In [10]:
subprocess.run(["unzip", zip_file])

CompletedProcess(args=['unzip', 'd_us_txt.zip'], returncode=0)

shutil.rmtree("data", ignore_errors=True, onerror=None)

In [12]:
subprocess.run(["rm", "-rf", zip_file])

CompletedProcess(args=['rm', '-rf', 'd_us_txt.zip'], returncode=0)

In [36]:
n = 0
data = []
tickers = set()
debug_flag = False  # True # 

for root, dirs, files in os.walk("data"):
    if debug_flag and n > 1: break
    if not dirs and files and files[0].endswith(".us.txt"):
        if debug_flag: print(root, dirs, files)
        tmp = root.split("\\")[3].split()
        exchg = tmp[0].strip()
        type = tmp[1].strip()
        for f in files:
            path = os.path.join(root, f)
            ticker = f.split(".")[0].upper()
            if ticker not in tickers:
                data.append([ticker, type, exchg, path])
                tickers.add(ticker)
        if debug_flag: n += 1

In [37]:
len(data), len(tickers)

(12248, 12248)

In [38]:
data[-5:]

[['XTNT', 'stocks', 'nysemkt', 'data\\daily\\us\\nysemkt stocks\\xtnt.us.txt'],
 ['YCBD', 'stocks', 'nysemkt', 'data\\daily\\us\\nysemkt stocks\\ycbd.us.txt'],
 ['YCBD_A',
  'stocks',
  'nysemkt',
  'data\\daily\\us\\nysemkt stocks\\ycbd_a.us.txt'],
 ['ZDGE', 'stocks', 'nysemkt', 'data\\daily\\us\\nysemkt stocks\\zdge.us.txt'],
 ['ZOM', 'stocks', 'nysemkt', 'data\\daily\\us\\nysemkt stocks\\zom.us.txt']]

In [39]:
df = pd.DataFrame(data, columns=["ticker","type","exchg","file_path"])

In [40]:
df.head()

  ticker  type   exchg                              file_path
0   AADR  etfs  nasdaq  data\daily\us\nasdaq etfs\aadr.us.txt
1   AAXJ  etfs  nasdaq  data\daily\us\nasdaq etfs\aaxj.us.txt
2   ACWI  etfs  nasdaq  data\daily\us\nasdaq etfs\acwi.us.txt
3   ACWX  etfs  nasdaq  data\daily\us\nasdaq etfs\acwx.us.txt
4   ADRE  etfs  nasdaq  data\daily\us\nasdaq etfs\adre.us.txt

In [41]:
df.to_csv("ticker-catalog.csv", index=False)

## process tickers from QQQ index

In [42]:
df_nq = pd.read_csv("wl_index-QQQ_NASDAQ100.csv")

In [43]:
df_nq

    Ticker                     Company
0      QQQ                         ETF
1     ATVI         Activision Blizzard
2     ADBE                  Adobe Inc.
3      AMD      Advanced Micro Devices
4     ALXN     Alexion Pharmaceuticals
..     ...                         ...
99     WBA     Walgreen Boots Alliance
100   WDAY                     Workday
101    XEL                 Xcel Energy
102   XLNX                      Xilinx
103     ZM   Zoom Video Communications

[104 rows x 2 columns]

In [44]:
tickers_nq = df_nq["Ticker"].to_list()

In [46]:
tickers_nq[:5]

['QQQ', 'ATVI', 'ADBE', 'AMD', 'ALXN']

In [53]:
dd = df[df['ticker'] == 'QQQ'].to_dict('records')

In [58]:
dd[0]

{'ticker': 'QQQ',
 'type': 'etfs',
 'exchg': 'nasdaq',
 'file_path': 'data\\daily\\us\\nasdaq etfs\\qqq.us.txt'}

In [59]:
dd[0]['file_path']

'data\\daily\\us\\nasdaq etfs\\qqq.us.txt'

## Calculate TA and save to sqlite DB

## chart

## Analyze trend and stat